#btn-wrap {
  display: flex;
  justify-content: right;
  position: -webkit-sticky;
  position: sticky;
  top: 38vw;
  text-align: right;
  z-index: 10;
}

#btn-toUp {
  position: absolute;
  right: 4vw;
  font-size: 30px;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(84, 84, 84, 0.49);
  background-color: blueviolet;
  color: white;
}
#btn-toUp:hover {
  border: 2px solid blueviolet;
  color: blueviolet;
  background-color: white;
}
