#container {
  margin: 0 100px;
  /* border-left: 2px solid lightgrey;
      border-right: 2px solid lightgrey; */
}

/* -------------------------------------Search-setting--------------------------------------------------- */

#searchBar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
}

#input-search {
  width: 100%;
  padding: 8px 20px;
  background-color: rgb(251, 243, 255);
  border: 1px solid rgb(251, 243, 255);
  transition: all 0.5s ease-in-out;
}
#input-search::placeholder {
  color: rgb(214, 185, 228);
}
#input-search:focus {
  background-color: white;
  border: 1px solid blueviolet;
}

#btn-search {
  background-color: blueviolet;
  font-weight: bold;
  color: white;
  padding: 8px 30px;
  border-radius: 0 20px 20px 0;
  border: 1px solid blueviolet;
  transition: all 0.3s ease-in-out;
}
#btn-search:hover {
  color: blueviolet;
  background-color: white;
  border: 1px solid blueviolet;
  cursor: pointer;
}

/* -------------------------------------Categories-setting--------------------------------------------------- */

#cate {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 25px;
}

cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#h-cate {
  margin: 8px 0;
}

#card:nth-child(2),
#card:nth-child(3),
#card:nth-child(4),
#card:nth-child(5),
#card:nth-child(6) {
  margin: 0 4px;
}

#card:nth-child(1) {
  margin-right: 4px;
}
#card:nth-child(7) {
  margin-left: 4px;
}

#card-cate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(221, 188, 253);
  min-width: 150px;
  min-height: 115px;
  border: 1px solid lightslategray;
  border-radius: 100px 100px 0 0;
  transition: all 0.3s ease-in-out;
  /* margin: 8px; */
}

#card-cate:hover {
  background-color: rgb(207, 165, 248);
  box-shadow: inset 7px 7px 10px rgb(93, 28, 155);
  border: 1px solid blueviolet;
}

#name-cate {
  display: flex;
  justify-content: center;
  background-color: white;
  color: rgb(137, 137, 137);
  border-top: 1px solid lightgrey;
  transition: all 0.5s ease-in-out;
  padding: 4px 0;
}
#name-cate:hover {
  color: rgb(93, 28, 155);
}

/* ---------------------------------Recommendation-setting--------------------------------------------------- */
#h-recom {
  margin: 8px 0;
}
#recomjob {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.job {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 348px;
  height: 50px;
  border: 1px solid lightslategray;
  border-radius: 3px;
  padding: 12px;
  margin: 8px 0;
  transition: all 0.5s ease-in-out;
}

.job:hover {
  background-color: rgb(251, 243, 255);
  box-shadow: 12px 4px 10px rgb(167, 167, 167);
  border: 1px solid blueviolet;
}

#kanan {
  display: flex;
}

#kiri {
  display: flex;
  justify-content: center;
}

#icon-job {
  background-color: white;
  font-size: 24px;
  /* justify-content: center; */
  padding: 12px;
  margin-right: 20px;
  border: 1px solid black;
}

#details {
  display: flex;
  justify-content: center;
}

#detail-kiri {
  margin-right: 30px;
}

#btn-detail {
  color: blueviolet;
  padding: 4px 8px;
  background-color: white;
  font-size: 11px;
  border: 1px solid blueviolet;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s ease-in-out;
}
#btn-detail:hover {
  border: 1px solid white;
  color: rgb(221, 188, 253);
  background-color: rgb(102, 32, 168);
}

#h-detail,
#name-company,
#experience {
  margin-bottom: 4px;
}

#name-company {
  color: rgb(93, 28, 155);
}

.bx-bookmark {
  font-size: 25px;
  color: lightslategray;
  transition: all 0.3s ease-in-out;
}
.bx-bookmark:hover {
  color: blueviolet;
}
