#container {
  /* padding: 60px 45px; */
  /* margin: 0 auto; */
  margin: 0 100px;
  /* border-left: 2px solid lightgrey;
      border-right: 2px solid lightgrey; */
}

/* .cont-inner {
  width: 1000px;
  margin: 0 auto;
} */

@media (max-width: 400px) {
  #container {
    margin: 20px;
  }
}

/* -------------------------------------Search-setting--------------------------------------------------- */

#searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
}

@media (max-width: 400px) {
}

#input-search {
  width: 100%;
  padding: 8px 20px;
  background-color: rgb(251, 243, 255);
  border: 1px solid rgb(251, 243, 255);
  transition: all 0.5s ease-in-out;
}
#input-search::placeholder {
  color: rgb(214, 185, 228);
}
#input-search:focus {
  background-color: white;
  border: 1px solid blueviolet;
}

#btn-search {
  background-color: blueviolet;
  font-weight: bold;
  color: white;
  padding: 8px 30px;
  border-radius: 0 20px 20px 0;
  border: 1px solid blueviolet;
  transition: all 0.3s ease-in-out;
}
#btn-search:hover {
  color: blueviolet;
  background-color: white;
  border: 1px solid blueviolet;
  cursor: pointer;
}

/* -------------------------------------Categories-setting--------------------------------------------------- */

#cate {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 25px;
}

#categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

#h-cate {
  margin: 8px 0;
}

/* #card {
} */

#card:nth-child(2),
#card:nth-child(3),
#card:nth-child(4),
#card:nth-child(5),
#card:nth-child(6) {
  margin: 0 4px;
}

#card:nth-child(1) {
  margin-right: 4px;
}
#card:nth-child(7) {
  margin-left: 4px;
}

#card-cate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: rgb(221, 188, 253);
  min-width: 150px;
  min-height: 115px;
  border: 1px solid lightslategray;
  border-radius: 100px 100px 0 0;
  transition: all 0.3s ease-in-out;
  /* margin: 8px; */
}

@media (max-width: 400px) {
  #card-cate {
    min-width: 60px;
    min-height: 25px;
  }

  #name-cate {
    font-size: 8px;
  }
}

#card-cate:hover {
  background-color: rgb(207, 165, 248);
  box-shadow: inset 7px 7px 10px rgb(101, 48, 150);
  border: 1px solid blueviolet;
}

#name-cate {
  display: flex;
  justify-content: center;
  background-color: white;
  color: rgb(137, 137, 137);
  border-top: 1px solid lightgrey;
  transition: all 0.5s ease-in-out;
  padding: 4px 0;
}
#name-cate:hover {
  color: rgb(93, 28, 155);
}

/* ---------------------------------Recommendation-setting--------------------------------------------------- */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#h-recom {
  margin: 8px 0;
}
#recomjob {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.job {
  background-color: white;
  display: flex;
  /* flex: 1 1 21rem; */
  justify-content: space-between;
  /* align-self: normal; */
  /* width: fit-content; */
  max-width: 375px;
  min-width: 375px;
  min-height: 50px;
  border: 1px solid lightslategray;
  border-radius: 3px;
  padding: 12px;
  margin: 4px;
  transition: all 0.2s ease-in-out;
  animation: fade 1s ease;
}

/* @media (min-width: 400px) {
  .job {
    flex: 1 1 21rem;
  }
} */

/* @media (min-width: 1115px) {
  .job {
    max-width: 440px;  
    min-width: 440px;
    min-height: 50px;
  }
} */

.job:hover {
  transform: translate(-4px, -4px);
  background-color: rgb(251, 243, 255);
  box-shadow: 12px 4px 10px rgb(167, 167, 167);
  border: 1px solid blueviolet;
}

#kanan {
  display: flex;
  justify-content: center;
}

#kiri {
  display: flex;
  justify-content: center;
}

#icon-job img {
  background-color: white;
  font-size: 24px;
  /* justify-content: center; */
  max-width: 40px;
  max-height: 40px;
  padding: 12px;
  margin-right: 20px;
  border: 1px solid black;
}

#details {
  display: flex;
  justify-content: center;
  /* background-color: brown; */
}

#detail-kanan {
  display: flex;
  justify-content: center;
}

/* #detail-kiri {

} */

/* #parent-btn-detail {

} */

#btn-detail {
  color: blueviolet;
  padding: 4px 8px;
  margin: 0 4px;
  background-color: white;
  font-size: 11px;
  border: 1px solid blueviolet;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s ease-in-out;
}
#btn-detail:hover {
  border: 1px solid white;
  color: rgb(221, 188, 253);
  background-color: rgb(102, 32, 168);
}

#h-detail {
  color: rgb(102, 32, 168);
  line-height: 1;
}

#name-company {
  font-size: 12px;
  font-weight: 600;
}

#employee {
  font-size: 12px;
  font-weight: 400;
}

.bx-bookmark-plus {
  color: rgb(178, 123, 230);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.bx-bookmark-plus:hover {
  color: blueviolet;
}

.bxs-bookmark-plus {
  color: rgb(178, 123, 230);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.bxs-bookmark-plus:hover {
  color: blueviolet;
}

@keyframes loadingMuter {
  0% {
    transform: rotate(0deg);
    color: blueviolet;
  }
  25% {
    transform: rotate(90deg);
    color: white;
  }
  50% {
    transform: rotate(180deg);
    color: blueviolet;
  }

  75% {
    transform: rotate(200deg);
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: blueviolet;
  }
}

#loading,
#error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  margin: 0 auto;

  /* background-color: blanchedalmond; */
}

.loadingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: white;
  border: 2px solid blueviolet;
  border-radius: 50px;
  padding: 8px 50px;
}

.bx-loader {
  font-size: 30px;
  transition: all 0.3s infinite;
  animation: loadingMuter 2s infinite;
}

#loading span,
#error p {
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}

#error p {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  font-size: 12px;
  border: 2px solid gray;
  transition: all 0.5s ease;
}
#error p:hover {
  box-shadow: 12px 4px 10px rgb(167, 167, 167);
  color: rgb(255, 61, 61);
  border: 2px solid rgb(255, 61, 61);
}

#error p span {
  font-size: 20px;
}

#loading span,
#error span {
  font-style: italic;
}
