.Signup {
  background-color: #f5ecff;
  height: 100vh;
}

.login {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

/* already have an account? */
.login h4 {
  font-weight: 300;
  margin: 1em;
}

.login button {
  background-color: #983bff;
  border-radius: 5px;
  border: 1px solid #983bff;
  padding: 5px 25px 5px 25px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #5d269c;
}

.login button span {
  font-weight: 500;
  color: white;
}

.signup-section {
  display: flex;
  justify-content: flex-end;
}

.signup-form {
  margin: 0px 180px;
}

.signup-title {
  margin-bottom: 15px;
}

.signup-title h2 {
  text-align: center;
}

.signup-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
}

.signup-img img {
  width: 65%;
  margin-top: 50px;
}

.bx.bx-envelope,
.bx.bxs-phone,
.bx.bx-key {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  color: #983bff;
}

@media only screen and (max-width: 768px) {
  .login {
    margin: 0;
    margin-right: 5px;
  }

  .login h4 {
    font-size: 10px;
  }

  .login button {
    padding: 0px 25px 5px 25px;
    height: 25px;
  }

  .login button span {
    font-size: 10px;
  }

  .signup-img {
    display: none;
  }

  .signup-form {
    margin: 30px 100px;
  }

  .signup-title h2 {
    font-size: 18px;
  }

  .bx.bx-envelope,
  .bx.bxs-phone,
  .bx.bx-key {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: #983bff;
  }
}
